.todo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

li {
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to left, #df25a7, #d6355d);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete {
    margin-left: 20px;
    padding: 5px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.delete:hover {
    background-color: #f62a2a;
    opacity: 0.8;
}