header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #e12aee, #d51c7f);
    color: white;
    padding: 20px;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}